.about-section {
  scroll-snap-align: start;

  .container {
    display: flex;
    align-items: center;
  }

  .monkey {
    transform: translateX(-50%);
    margin-top: 40px;
    width: 30%;

    @media (max-width: 1174px) {
      transform: translateX(-100%);
    }

    @media (max-width: 900px) {
      transform: translateX(-150%);
    }

    @media (max-width: 700px) {
      transform: translateX(-200%);
    }

    @media (max-width: 600px) {
      transform: translateX(-250%);
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  .text-container {
    @media (max-width: 500px) {
      padding: 100px 0px;
    }
    .infos {
      margin-top: 44px;
      font-weight: 300;
      font-size: 24px;

      @media (max-width: 700px) {
        font-size: 18px;
      }
    }

    button {
      background-image: url("../images/bg.gif");
      border: none;
      display: block;
      margin-top: 70px;
      cursor: pointer;
      position: relative;
      height: 65px;
      width: 200px;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: calc(100% - 5px);
        height: calc(100% - 5px);
        background-color: #101010;
        z-index: 1;
        transition: all 0.4s ease;
      }

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        padding: 20px 60px;
        font-size: 20px;
      }

      &:hover {
        &:before {
          opacity: 0;
        }
      }
    }
  }
}
